
<h1>Show Album page</h1>

<ul>

  <li>
    <strong>Aifid:</strong>
    <%= @album_page.aifid %>
  </li>

  <li>
    <strong>Height:</strong>
    <%= @album_page.height %>
  </li>

  <li>
    <strong>Width:</strong>
    <%= @album_page.width %>
  </li>

  <li>
    <strong>Inscriptions:</strong>
    <%= @album_page.inscriptions %>
  </li>

</ul>
