<div>
  <%= img_tag album_spread_image_url(@album.aifid, @current_album_spread.aifid),
      style: "max-width: 100%; max-height: 75vh;",
      alt: "Album spread #{@current_album_spread.aifid}" %>
</div>
