html {
  height: 100%;
}

body {
  background-color: #ffffff;
  height: 100%;
  display: grid;
  font-family: sans serif, serif, monospace, auto;
  grid-template-columns: auto;
  grid-template-rows: min-content 1fr min-content;
}